<h1>University Registrar</h1>


<a class="btn btn-primary btn-lg" role="button" href="/courses">Add or view a course</a>
<a class="btn btn-primary btn-lg" role="button" href="/students">Add or view a student</a>
